{{ if .Page.Store.Get "hasMermaid" }}
<script data-cfasync="false" 
  type="application/javascript"
  src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
></script>
<script data-cfasync="false">
  // 'data-cfasync="false"' is required for Cloudflare Pages to work
  /*
    TODO: dynamic reload if theme changes: https://github.com/mermaid-js/mermaid/issues/1945
    For now this requires a manual page reload if theme changes, which is fine for now.
  */
  let theme = localStorage.getItem("pref-theme")
  mermaid.initialize({ 
    startOnLoad: true,
    theme:theme,
    align:'{{ if site.Params.mermaid.align }}{{ site.Params.mermaid.align }}{{ else }}center{{ end }}',
  });
</script>
{{ end }}